<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/block :: headerFragment"></head>

<header th:insert="fragment/header :: header(barnav)"></header>
<div class="row" style="padding-top:5px;justify-content: center ">
    <div class="container col-10">
        <div class="card col-10" style="margin: auto ; padding: 0">
            <div class="panel-body">
                <table class="table">
                    <thread>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Book</th>
                            <th scope="col">Edition</th>
                            <th scope="col">Date de fin</th>
                        </tr>
                    </thread>
                    <tbody>
                    <tr th:each="reservation : ${reservations}">
                        <td th:text="${reservation.getUser().getName()}"></td>
                        <td th:text="${reservation.getExemplaire().getEdition().getBook().getTitle()}"></td>
                        <td th:text="${reservation.getExemplaire().getEdition().getName()}"></td>
                        <td th:text="${reservation.getDate_fin()}"></td>
                        <td th:if="${reservation.ended} == false and ${reservation.recuperer} == true">
                            <form method="post" th:action="@{/admin/reservation/{id}(id=${reservation.getId()})}">
                                <button class="btn btn-primary btn-block btn-flat" type="submit">livre rendu
                                </button>
                            </form>
                        </td>
                        <td th:if="${reservation.ended} == true">
                            <p>Reservation terminé</p>
                        </td>
                        <td th:if="${reservation.recuperer} == false">
                            <p>Livre à récuperer</p>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer th:insert="fragment/footer :: footer"></footer>
</html>
